.navBarContainer {
  display: flex;  
  width: 100vw;
  height: 20vh;
  background: -webkit-linear-gradient(left top, #a24141, #751414);
  background: -moz-linear-gradient(left top, #d41212, #b41515);
  background: -o-linear-gradient(left top, #858585, #762323);
  background: -ms-linear-gradient(left top, #858585, #525252);
  background: linear-gradient(to right bottom, #b9b1b1, #494040);
  justify-content: space-between;
  align-items: center;
}

@-moz-keyframes snowy {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  75% {
    background-position: 325px 750px, 275px 600px, -5px 150px;
  }
  100% {
    background-position: 500px 1000px, 400px 800px, 0px 300px;
  }
}
@-webkit-keyframes snowy {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  75% {
    background-position: 325px 750px, 275px 600px, -5px 150px;
  }
  100% {
    background-position: 500px 1000px, 400px 800px, 0px 300px;
  }
}
@-o-keyframes snowy {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  75% {
    background-position: 325px 750px, 275px 600px, -5px 150px;
  }
  100% {
    background-position: 500px 1000px, 400px 800px, 0px 700px;
  }
}
@keyframes snowy {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  75% {
    background-position: 325px 750px, 275px 600px, -5px 150px;
  }
  100% {
    background-position: 500px 1000px, 400px 800px, 0px 300px;
  }
}

.routeContainer {
    display: flex;
    justify-content: flex-start;
    position: sticky;
}

.title {
  font-size: 100%;
    margin: 50px;
    padding: 15px
}

.link {
    margin: 15px;
    padding: 15px;
    text-decoration: none;
    color: #ecf09ede;
    font-size: medium;
    width: 140px;
}

.link:hover {
    text-shadow: #525252;
}

button {
    --text-base: 277deg, 55%, 40%;
    --text-hover: 307deg, 72%, 86%;
    --shadow-start: 52deg, 100%, 72%;
    --shadow-end: 282deg, 90%, 50%;
    --shadow-inner: 277deg, 90%, 62%;
    all: unset;
    color: hsla(var(--text-base), 1);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.85em;
    max-width: 100%;
    background: inherit;
    background-clip: padding-box;
    border: 5px solid hsla(var(--text-base), 1);
    border-radius: 2em;
    cursor: pointer;
    position: relative;
    transition: 0.25s ease-out;
  }
  button::before, button::after {
    content: "";
    border-radius: inherit;
    transition: inherit;
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
  button::before {
    inset: -0.2em;
    z-index: -1;
    background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
    filter: blur(1.2em) saturate(1.2);
    transform-origin: bottom;
    transform: scaleY(0.5);
    opacity: 0;
  }
  button::after {
    box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
    mix-blend-mode: overlay;
    opacity: 0;
  }
  button:hover, button:focus {
    color: hsla(var(--text-hover), 1);
    border-color: transparent;
    box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
  }
  button:hover::before, button:hover::after, button:focus::before, button:focus::after {
    transform: none;
    opacity: 1;
  }

  @media(max-width: 900px){
    .nav_items{
      position: absolute;
      top: 200px;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: fit-content;
      transform: translateY(-190%);
      transition: 0.8s ease all;
      background:linear-gradient(135deg,rgba(55, 55, 55, 0.599), rgba(79, 79, 79, 0.661));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 40px;
      border: solid 1px rgba(222, 218, 218, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37); 
  }


  .nav_items.open{
      transform: translateY(0) !important;
      position: fixed !important;
  }

  .nav_toggle{
      display: flex !important;
      flex-direction: column;
      margin: 15px;
  }

  .nav_toggle span{
      width: 30px;
      height: 4px;
      background:white;
      margin-bottom: 5px;
      border-radius: 2px;
      transform-origin:5px 0px;
      transition: all 0.2s linear;
  }

  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);
  }

  .nav_toggle.open > span:nth-child(2){
      display: none;
  }

  .nav_toggle.open > span:nth-child(3){
      transform: rotate(-45deg) translate(-5px, 1px);
  }
}